@media print {
    .d-print-none {
        display: none !important;
        background-color: white !important;
    }
    .d-print-inline { display: inline !important;}
    .d-print-inline-block { display: inline-block !important;}
    .d-print-block { display: block !important;}
    .d-print-table { display: table !important;}
    .d-print-table-row {
        display: table-row !important;
        color: black !important;
        font-weight: bold !important;
    }
   
    .d-print-table-cell { display: table-cell !important;}
   
    .d-print-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
   
    .d-print-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        color: black !important;
        font-weight: bold !important;
        background-color: white !important;
    }

    .background-white{
        background-color: white !important;
    }
}